<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a href="#" class="list-group-item" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- absolute path -> add the path to root domain
    <a routerLink="/servers">Reload Page</a>
    relative path -> add the path to currently loaded path
    <a routerLink="servers">Reload Page</a>
    <a routerLink="./servers">Reload Page</a>
    ../ means go back one path can use more like ../../
    <a routerLink="../servers">Reload Page</a> -->
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>